
/*
* Author: Robert Hunter
* Assignment: WI2.0 Mobile Development, Digital Skills Academy
* Date : 2015/07/15
* Ref: 
    https://api.jquery.com/
    http://jquerymobile.com/
    http://devdocs.io/javascript/
    http://tutorialzine.com/2011/09/shuffle-letters-effect-jquery/
    https://themeroller.jquerymobile.com/
    http://stackoverflow.com/questions/tagged/jquery-mobile
    http://realfavicongenerator.net/
    http://www.initializr.com/
*/
#headerDiv {
    background-color: rgb(20,20,20);
    min-height: 6vh;
}

#headerDiv h1 {
    color:white;
}

#introDiv {
    background-color: rgb(230,225,220);
    padding: 15px 15px;
    min-height: 25vh;
    border: solid 2px lightGray;
    text-align: center;

}
#introDiv p {
    max-width: 75%;
    margin: auto auto;
}

#factDiv {
     background-color: black;
     padding: 15px 15px;
     background: url("../img/binaryPass.jpg") no-repeat center center;
     background-size: cover;
     color: white;
     text-align: center;
     min-height: 20vh;
     border: solid 2px black;
}

#filterDiv {
    background-color: rgb(235,235,235);
    padding: 15px 15px;
}

#filterInput {
    background-color: gray;
    color: white;
}

#tableDiv {
    padding: 15px 15px;
    border: solid 2px gray;
    background-color: rgb(230,225,220);
}

#footerDiv {
    background-color: rgb(20,20,20);
    color: white;
    border: solid 1px darkGray;
}

#footerInfoDiv {
    background-color: orange;
}

#footerDiv p {
    max-width: 75%;
    margin: auto auto;
    text-align: center;
}

#shuffleText {
    color: rgb(232,125,42);
    margin: 40px;
}

#shuffleInfoText {
    color: rgb(232,125,42);
    margin: 40px;
}

#backBtn {
    background-color: rgb(232,125,42);
    color: white;

}

.ui-content {
   padding: 0 0;
}


/* Info Page test */

.lowercaseTest {

}

.uppercaseTest {

}

.numberTest {

}

.symbolsTest {

}

.lengthTest {

}

#pass {
    color: green;
}

#fail {
    color: red;
}

#testIntroDiv {
    background-color: rgb(239,239,239);
    padding: 15px 15px;
    min-height: 20vh;
    /*border: solid 2px lightGray;*/
    text-align: center;
}

#testResultsDiv {
    background-color: white;
    padding: 15px 15px;
    min-height: 15vh;
    text-align: center;
    border: solid 2px lightGray;
}

#testIntroDiv p {
    max-width: 75%;
    margin: auto auto;
}


body .ui-header .ui-title {
 white-space: normal;
 padding: auto auto;
}



